img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  

.bg--cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


// .img--cover {

// }