$sidebar-width: 280px;
$sidebar-link-bg: rgba(	227, 221, 131, 0.25);
// $sidebar-link-hover:#9c7b09;
$sidebar-link-hover:#005577;
$sidebar-link-active: $sidebar-link-hover;
$sidebar-link-active-border:#e4b40d;